 body {
     color: rgb(59, 48, 48);
     margin: 0;
     font-size: 12px;
     font-family: Arial, sans-serif;
     background-color: #edefeb;
     letter-spacing: 0.1em;
 }

 * {
     box-sizing: border-box;
 }

 .container {
     background-color: #fefffc;
     max-width: 1000px;
     min-height: 630px;
     margin: 1% auto 0 auto;
     padding: 10px;
     border: 1px solid;
     border-color: #caccc9;
 }

 .goods {
     width: auto;
     height: 100%;
     padding-left: 5px;
     padding-right: 5px;

 }

 .header {
     width: 100%;
     min-height: auto;
     margin-bottom: 10px;
 }

 .header_title {
     font-size: 16px;
     text-align: center;
 }


 .line {
     width: 99%;
     margin: 10px auto;
     height: 5px;
 }

 .line_dashed {
     border: 1px dashed;
     border-color: #832b5b;
 }

 .main {
     min-height: 440px;
     width: 100%;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: space-between;

 }

 .goods_table {
     text-align: center;
 }

 th {
     padding: 10px;
     background: #832b5b;
     color: #fefffc;
 }

 td {
     background: #caccc9;
 }

 .read_goods {
    padding-left: 20px;
 }

 .read_goods-button{
    margin-top: 10px;
    margin-left: 10px;
    color:#d8ccd2;
    background-color:#832b5b;

 }
 .footer {
     width: 100%;
     min-height: 140px;
 }

 .footer_title-name {
     font-size: 15px;
     font-weight: bold;
     margin: 0;
     padding-bottom: 5px;
 }

 .footer_news-pages {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: flex-start;
 }

 .fio {
     text-align: center;
     font-size: 6px;
     padding-top: 5px;
 }

 /* настройки для one-news*/

 .for_main {
     min-height: 310px;
     font-size: 18px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
 }

 .for_footer {
     width: 100%;
     height: 60px;
     font-size: 15px;
 }